@import "./_settings";

/*
  $slider-size
  $btn-primary
  $slider-background-grey
  $slider-padding
  $slider-background-circle
*/

#oil-preference-center {
  overflow: hidden;

  .as-oil-back-button {
    display: none;
  }
}

#as-oil-cpc {
  &.as-oil-content-overlay {
    // @include media('<=849px') {
    //   padding: 2rem 1rem;
    // }
  }
}

.as-oil-cpc {
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $slider-background-grey;
    background-color: var(--avacy_slider_background);
    transition: .4s;
    border-radius: 17px;

    &:before {
      position: absolute;
      content: "";
      height: $slider-before;
      width: $slider-before;
      left: $slider-padding;
      bottom: $slider-padding;
      background-color: $slider-background-circle;
      background-color: var(--avacy_slider_background_circle);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
      transition: .4s;
      border-radius: 50%;
    }
  }
}
