// Define media queries,
// this must be set before media queries are imported
$breakpoints: (
  'phone': 419px,
  'tablet': 767px,
  'desktop': 1023px
) !default;

// Import Media query library
// Pretty Nice!
@import "./node_modules/include-media/dist/_include-media.scss";

// Config Data
$text-color-primary: #80888c;
$text-color-secondary: #262626;
$accent-color: #0099f2;
$background-color: #f9f9f9;

$btn-primary: #3F7EDF;
$btn-primary-text-color: #ffffff;

$btn-text-grey: #aaaaaa;
$btn-background-grey: #eeeeee;

$btn-secondary: transparent;
$btn-secondary-text-color: #ffffff;

$slider-background-grey: #b1b6b8;
$slider-background-circle: #ffffff;

$third-parties-background: #eff0f0;
$accent-primary: #0099f2;

$layout-max-width: 1280px;


// Our Oil overlay needs to trump every other element, so we need the highest possible z-index
// Which is the following number: 2147483647 <-- for possible HACKS we go with a high number

$z-index-max: 2147483647;

// Font stack

$font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

$slider-size: 20px;
$slider-padding: 3px;
$slider-before: $slider-size - ($slider-padding * 2);


$text_color_primary: #80888c;
$text_color_secondary: #262628;
$background_color: #f9f9f9;
$accent_primary: #ff510b;
$btn_primary_background: #ff510b;
$btn_primary_background_hover: #ff7037;
$btn_primary_text_color: #ffffff;
$btn_secondary_background: #b0b7bb;
$btn_secondary_background_hover: #c4cacd;
$btn_secondary_text_color: #ffffff;
$btn_disabled_background: #dfdfdf;
$btn_disabled_text_color: #545454;
$slider_background: #b1b6b8;
$slider_background_circle: #ffffff;
$third_parties_background: #eff0f0;


$text-color-primary-dark: #f5f5f5;
$background-color-dark: #262626;
$cpc-background-dark: #383737;
