/*
  $background-color-dark
  $text-color-primary
  $text-color-primary-dark
  $btn-primary
  $slider-size
  $slider-background-circle
  $cpc-background-dark
*/

@import "./_cpc_global";

.as-oil-cpc-wrapper {

  button {
    cursor: pointer;
  }

  .as-oil {
    &__heading,
    &__intro-txt {
      display: block;
      width: 100%;
      order: 1;
    }
  }

  .as-oil-l-item {
    justify-content: flex-end;
    padding: 0.2rem;
  }

  #as-js-third-parties-list {
    background-color: $third-parties-background;
    background-color: var(--avacy-third-parties-background);
  }

  @include media('>desktop') {
    .as-oil{ 
      &__intro-txt {
        width: 60%;
      }
    }
  }
}

.as-oil-cpc {
  &__content {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  &__left {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    margin-bottom: 1rem;

    @include media('>desktop') {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
    }
  }

  &__middle {
    display: inline-block;
    overflow: scroll;
    max-height: 500px; /* The Fallback */
    height: 30vh;
    width: 100%;
  
    @include media('>phone') {
      padding: 0 1.5rem 1.5rem 1.5rem;
    }
    @include media('>tablet') {
      flex: 1;
    }
  }
  
  &__right {
    width: 100%;
    display: flex;
    
    @include media('>phone') {
      justify-content: flex-end;
      padding-top: 1rem;
      margin-top: 1rem;
      border-top: 1px solid lightgray;
    }
  }
  
  &__row-btn-all {
    width: 100%;
    order: 1;
    margin-top: 1rem;
    padding-bottom: 1rem;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 49%;
      margin: 0 0.2rem;
      text-align: center;
      padding: .7rem 1rem;
    }
  }
  
  &__row-title {
    margin: 0 0.5rem 1.2rem 0.5rem;

    &#as-oil-cpc-third-parties {
      padding: 1rem 1rem 0 1rem;
      margin: 0;
      background-color: $third-parties-background;
      background-color: var(--avacy-third-parties-background);
  }
  }
  
  &__category-link {
    padding: 6px 8px;
    display: block;
  }
  
  
  &__purpose {
    border-top: 1px solid #eaeaea;
    padding: 20px;
  }
  
  &__purpose-container {
    position: relative;
    display: flex;
  }
  
  &__purpose-header {
    margin: 0 75px 0 0;
  }
  
  &__purpose-text {
    margin-top: 10px;
  }
  
  &__switch {
    width: 50px;
    height: 26px;
    position: relative;
    margin-bottom: 10px;
  
    input {
      display: none;
  
      &:checked ~ .as-oil-cpc__slider {
        background-color: $accent-primary;
        background-color: var(--avacy-accent-primary);
      }
  
      &:focus ~ .as-oil-cpc__slider {
        box-shadow: 0 0 1px $accent-primary;
        box-shadow: 0 0 1px var(--avacy-accent-primary);
      }
  
      &:checked ~ .as-oil-cpc__slider:before {
        transform: translateX($slider-size);
      }
    }
  }

  @include media('<tablet') {
    &__purpose-text {
      display: none;
    }
  }

  @include media('<desktop') {
    &__row-btn-all {
      display: flex;
      justify-content: center;
    }
  }

  @include media('>tablet') {
    &__purpose-more {
      display: none;
    }
  }

  @include media('>desktop') {
    &__row-btn-all {
      margin-top: 0;
      width: 40%;
    }
  }
  
}

.as-oil-cpc__status {
  &.Purpose__SwitchStatus,
  &.Vendor__SwitchStatus {
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: -100px;
    top: auto;
    display: none;

    &::after {
      padding: 0 8px;
      text-align: right;
    }
  }
}

.Purpose,
.Vendor {
  &__Container {
    display: flex;
    flex-direction: column;
  }

  &__Heading {
    display: flex;
    justify-content: space-between;
  }

  &__Switches {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media('>=1280px') {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__Switch {
    width: $slider-size * 2;
    height: $slider-size;
    position: relative;
    margin-bottom: $slider-size / 2;

    &--Consent {
      input {
        & + .as-oil-cpc__status:after {
          content: "Consent";
        }
    
        &:checked ~ .as-oil-cpc__status:after {
          content: "Consent";
        }
      }
    }

    &--LegInt {
      // display: none;
      input {
        & + .as-oil-cpc__status:after {
          content: "Legitimate Interest";
        }
    
        &:checked ~ .as-oil-cpc__status:after {
          content: "Legitimate Interest";
        }
      }
    }


    @include media('>=1280px') {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-left: 0.3rem;
    }
  }
}

.Vendor {
  padding: 1rem;

  &__Switches {
    margin: 10px 0;
    // display: none;
  }
}
