.as-oil {
    font-family: $font-family;
    font-family: var(--avacy_font_family);

    font-size: 16px;
    font-size: calc(16px * var(--avacy_font_base_scale));
    color: $text-color-primary;
    color: var(--avacy_text_color_primary);

    a {
        cursor: pointer;
    }

    &__heading{
        font-size: 18px;
        font-size: calc(18 * var(--avacy_font_base_scale));
        font-weight: 600;
        line-height: 1.2;
        color: $text-color-secondary;
        color: var(--avacy_text_color_secondary);
    }

    &__intro-txt {
        font-size: 12px;
        font-size: calc(12px * var(--avacy_font_base_scale));
        font-weight: 400;
        line-height: 1.5;

        a {
            padding: 4px 1px 0;
            margin: 0 1px;
            text-decoration: none;
            font-weight: 600;
            color: $accent-color;
            color: var(--avacy_accent_primary);

            &:hover {
                color: $accent-color;
                color: var(--avacy_accent_primary);
            }
        }
    }

    @include media('>phone') {
        &__heading{
            font-size: 22px;
            font-size: calc(22px * var(--avacy_font_base_scale));
        }
    }

    @include media('>=1280px') {
        &__intro-txt {
            font-size: 13px;
            font-size: calc(13px * var(--avacy_font_base_scale));
        }
    }
}

.as-oil-cpc {
    &__left {
        text-align: center;

        a {
            text-decoration: none;
        }
    }

    &__row-btn-all {
        text-align: center;
    }

    &__row-title {
        font-size: 15px;
        font-size: calc(15px * var(--avacy_font_base_scale));
        font-weight: 600;
        color: $text-color-secondary;
        color: var(--avacy_text_color_secondary);
    }

    &__row-thirdPartiesText,
    &__row-customThirdPartiesText {
        font-size: 14px;
        font-size: calc(14px * var(--avacy_font_base_scale));
        color: $text-color-primary;
        color: var(--avacy_text_color_primary);

        a {
            color: $accent-color;
            color: var(--avacy_accent_primary);
            font-weight: 600;
            text-decoration: none;
        }
    }

    &__category-link {
        font-size: 13px;
        font-size: calc(13px * var(--avacy_font_base_scale));
        font-weight: 600;
        color: $text-color-primary;
        color: var(--avacy_text_color_primary);
        &--active {
            color: black;
        }
    }

    &__purpose-header {
        font-size: 13px;
        font-size: calc(13px * var(--avacy_font_base_scale));
        font-weight: 600;
        color: $text-color-secondary;
        color: var(--avacy_text_color_secondary);
    }

    &__purpose-text,
    &__purpose-legal-text {
        font-size: 12px;
        font-size: calc(12px * var(--avacy_font_base_scale));
        color: $text-color-primary;
        color: var(--avacy_text_color_primary);
        margin: 1rem 0;
    }

    &__purpose-more {
        font-size: 14px;
        font-size: calc(14px * var(--avacy_font_base_scale));
    }

    @include media('>phone') {
        &__left {
            text-align: left;
        }

        &__row-title {
            font-size: 21px;
            font-size: calc(21px * var(--avacy_font_base_scale));
        }

        &__purpose-header {
            font-size: 14px;
            font-size: calc(14px * var(--avacy_font_base_scale));
        }

        &__purpose-text,
        &__purpose-legal-text {
            font-size: 13px;
            font-size: calc(13px * var(--avacy_font_base_scale));
        }

        &__category-link {
            font-size: 14px;
            font-size: calc(14px * var(--avacy_font_base_scale));
        }
    }
}

.as-oil-back-button {
    font-size: 14px;
    font-size: calc(14px * var(--avacy_font_base_scale));
    line-height: 1;
    &__text {
        font-family: $font-family;
        font-family: var(--avacy_font_family);
        font-weight: 600;
        color: $text-color-primary;
        color: var(--avacy_text_color_primary);
    }

    &__icon {
        font-size: 18px;
        font-size: calc(18px * var(--avacy_font_base_scale));
    }
}
