@import "./../../styles/_settings";

/**
 * POI Group list
 */
.as-oil-poi-group-list-wrapper {
  @include media('<=phone') {
    min-height: 300px;
    z-index: 100;
    padding: 16px 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, .2);

    .as-oil__heading, .as-oil__intro-txt {
      text-align: left;
    }
  }

  @include media('>phone') {
    .as-oil-l-row {
      width: auto;
  
      .as-oil-l-item {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .as-oil-l-wrapper-layout-max-width {
    display: flex;
    flex-direction: column;
  }

  .as-oil-poi-group-list {
    overflow: auto;
    overflow-y: scroll;
    min-height: 150px;
    max-height: 200px;
  }

  .as-oil-l-buttons-light {
    @include media('>phone') {
      float: right;
    }

    @include media('<=phone') {
      background: $background-color;
      padding: 8px;
      bottom: 0;
      left: 0;
    }
  }

  .as-oil-l-buttons-dark {
    @include media('>phone') {
      float: right;
    }

    @include media('<=phone') {
      background: $background-color-dark;
      padding: 8px;
      bottom: 0;
      left: 0;
    }
  }
}

//third party cookie
.as-oil-third-party-list-element {
  border-bottom: 1px #d8d8d8 solid;
  padding-bottom: 8px;
  margin-bottom: 8px;

  svg {
    path {
      fill: $accent-color;
      fill: var(--avacy_accent_primary);
    }
  }

  .as-oil-third-party-toggle-part {
    margin-left: 16px;
  }

  .as-oil-third-party-name {
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    font-size: calc(13px * var(--avacy_font_base_scale));
  }
  .as-oil-third-party-description, .as-oil-third-party-purpose {
    font-size: 12px;
    font-size: calc(12px * var(--avacy_font_base_scale));
  }
  .as-oil-third-party-link {
    color: $background-color-dark;
    font-size: 12px;
    font-size: calc(12px * var(--avacy_font_base_scale));
    opacity: .5;
    text-decoration: none;
  }

  .as-oil-third-party-category-list {
    font-size: 12px;
    font-size: calc(12px * var(--avacy_font_base_scale));
    
    strong,
    b {
      font-weight: bold;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}
